body {
    font-family: Arial;
    background: #0f172a;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.container {
    background: #1e293b;
    padding: 25px;
    border-radius: 12px;
    width: 350px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

h1 {
    text-align: center;
}

label {
    font-size: 14px;
}

input {
    width: 100%;
    margin-bottom: 12px;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

input:focus {
    outline: none;
    border: 2px solid #38bdf8;
}

button {
    width: 100%;
    padding: 12px;
    background: #38bdf8;
    border: none;
    color: black;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #0ea5e9;
}

.btn-limpiar {
    background: #f87171;
    margin-top: 10px;
}

#resultado {
    margin-top: 15px;
    background: #0f172a;
    padding: 10px;
    border-radius: 8px;
}

canvas {
    margin-top: 20px;
}